/*************** PORTFOLIO *****/
.portfolio {
    width: 100%;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('/src/img/fundoHome2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-portfolio {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.headline-portfolio {
    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headline-portfolio .titulo {
    width: 50%;
    font-size: 8vw;
    font-family: var(--font-titulo);
    text-align: center;
}

.container-case {
    width: 100%;
    height: 100%;
    gap: 0;
}


.Saiba-mais {

    margin: 2rem;
}

.Saiba-mais span {
    font-size: 1rem;
  
}
.wrapper {
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.wrapper .track {
    width: calc(100% * 13);
    margin-top: 1rem;
    display: flex;
    animation: scroll 100s linear infinite;
    flex-wrap: nowrap;
}

.wrapper .logo-carrosel {
    display: inline-block;
}

.wrapper .logo-carrosel img {
    height: 50vh;
    width: auto;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }

}


.wrapper:nth-child(2) .track {
    animation: scroll-inverted 100s linear infinite;
}

@keyframes scroll-inverted {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

@media (min-width: 1201px) and (max-width: 1440px) {}

@media (min-width:769px) AND (max-width: 1200px) {}

@media (min-width:481px) AND (max-width: 768px) {}

@media (max-width: 480px) {
    .headline-portfolio .titulo {
        width: 100%;
        font-size: 3.5rem;
        text-align: center;
        margin-bottom: 1rem !important;
    }  
    .headline-portfolio {
        margin-top: 2rem;
        margin-bottom: 0;
        width: 100%;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}