
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Roboto:wght@100;300;500;700&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/tt-hoves-pro-trial');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:wght@100;300;500;700&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --font-grande: 'TT Hoves Pro Trial', sans-serif;
    --font-pequena: 'Merriweather', 'serif';
    --font-titulo: 'Tourney', 'sans-serif';

    --color-black: #000;
    --color-gray1: #3d4143;
    --color-gray2: #9c9d9d;
    --color-white: #f6f6f6;
    --color-destaque1: rgb(86, 156, 194);
    --color-destaque2: rgb(163, 203, 243);
    

    --degrade: linear-gradient(90deg, rgb(188, 233, 228), rgb(163, 203, 243), rgb(86, 156, 194));
    --verde-claro: rgb(188, 233, 228);
    --cinza-escuro: rgb(70, 84, 90);
    --azul-claro: rgb(163, 203, 243);
    --preto: rgb(3, 3, 4);
    --azul-medio: rgb(86, 156, 194);
}
.sobre{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-sobre{
    box-shadow: 10px 10px var(--cinza-escuro);
    border-radius: 2%;
    background-color:black ;
    width: 80%;
    height: 80%;
}
.titulo{
    font-family: var(--font-titulo);
    text-align: center;
    color: var(--color-white);
    padding-top: 1rem;
    font-size: 5rem;
}

.conteudo-sobre{
    padding: 2rem;
    gap: 1rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
.left-sobre{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 4rem;
}
.right-sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.textos-sobre{
   color: var(--color-white); 
}
.textos-sobre h1{
    text-align: center;
    font-size: 3rem;
    font-family: var(--font-grande);
}
.textos-sobre p{
    font-size: 1.3rem;
    color: var(--color-gray2);
    line-height: 1.5;
    letter-spacing: 4.5px;
    padding-top: 3rem;
    font-family: var(--font-pequena);
}
.redes-sociais {
    padding-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.redes-sociais a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: var(--color-gray2);
    font-size: 1.5rem;
    width: 50%;
    padding-bottom: 5px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.15);
}

.right-sobre img{
    border-radius: 4%;
    align-items: center;
    width: 50%;
    height: 50%;
}
.profile-image{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Laptops / Monitores */
@media (min-width: 1201px) and (max-width: 1440px){
    .left-sobre {
        gap: 0rem;
    }
}
/* Tablets (Paisagem) */
@media (min-width:769px) AND (max-width: 1200px){
    .redes-sociais a {
    
        width: 100%;
        gap: 1rem;
    }
    .conteudo-sobre {
        padding-top: 3rem;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .textos-sobre {
        padding-left: 0rem !important;
    }

    .redes-sociais {
        padding-left: 0rem; 
        padding-top: 0rem;
        width: 100%;
        display: flex;
        gap: 5rem;
        transform: none !important;
        opacity: 1 !important;
    }
    .left-sobre {
        width: 100%;
    }
    .right-sobre {
        width: 100%;
    }
    .textos-sobre p {
        font-size: 1rem;
        padding-top: 1rem;
    }

    .container-sobre {
        width: 90%;
        height: 95%;
    }

    .left-sobre {
        width: 100%;
        gap: 2rem;
    }
    .redes-sociais a {
        font-size: 1.2rem;
        width: 35%;
    }
    .right-sobre {
        width: 100%;
    }
    .textos-sobre {
        padding-left: 2rem;
    }
    .redes-sociais {
        padding-left: 1rem;
        padding-top: 0rem;
    }
    .right-sobre img {
        width: 40%;
    }
      
}

/* Celulares medios */
@media (min-width:481px) AND (max-width: 768px){

    .textos-sobre p {
        font-size: 1rem;
        padding-top: 1rem;
    }

    .container-sobre {
        width: 90%;
        height: 95%;
    }
    .conteudo-sobre {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .left-sobre {
        width: 100%;
        gap: 2rem;
    }
    .redes-sociais a {
        font-size: 1.2rem;
        width: 35%;
    }
    .right-sobre {
        width: 100%;
    }
    .textos-sobre {
        padding-left: 2rem;
    }
    .redes-sociais {
        padding-left: 1rem;
        padding-top: 0rem;
    }
    .right-sobre img {
        width: 45%;
    }
}

/* Celulares Pequenos */
@media  (max-width: 480px) {


    .textos-sobre p {
        font-size: 1rem;
        padding-top: 1rem;
    }

    .container-sobre {
        width: 90%;
        height: 95%;
    }
    .conteudo-sobre {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .left-sobre {
        width: 100%;
        gap: 2rem;
    }
    .redes-sociais a {
        font-size: 1.2rem;
        width: 35%;
    }
    .right-sobre {
        width: 100%;
    }
    .textos-sobre {
        padding-left: 2rem;
    }
    .redes-sociais {
        transform: none !important;
        opacity: 1 !important;
        padding-left: 1rem;
        padding-top: 0rem;
    }
    .right-sobre img {
        width: 45%;
    }

    .container-sobre {
        height: auto;
        width: 95%;
        box-shadow: 5px 5px var(--cinza-escuro);
    }

    .conteudo-sobre {
        padding: .8rem;

    }
    .titulo {
        font-size: 3rem;
    }
    .left-sobre {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 0;
    }

    .textos-sobre h1 {
        font-size: 1.5rem;
        font-family: var(--font-grande);
    }
    .textos-sobre p {
        font-size: .8rem;
        color: var(--color-gray2);
        line-height: 1.5;
        letter-spacing: 4.5px;
        padding-top: 1rem;
        font-family: var(--font-pequena);
    }
    .redes-sociais {
        padding-top: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }
    .redes-sociais a {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        color: var(--color-gray2);
        font-size: 1rem;
        width: 70%;
        padding-bottom: 0;
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.15);
    }
    .right-sobre {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    [data-aos][data-aos-duration="1500"],
    body[data-aos-duration="500"] [data-aos] {
        transition-duration: 0.5s;
    }


    .container-sobre {
        height: auto;
        width: 95%;
        box-shadow: 5px 5px var(--cinza-escuro);
    }

    .conteudo-sobre {
        padding: .8rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .titulo {
        font-size: 3rem;
    }
    .left-sobre {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 0;
    }

    .textos-sobre h1 {
        font-size: 1.5rem;
        font-family: var(--font-grande);
    }
    .textos-sobre p {
        font-size: .8rem;
        color: var(--color-gray2);
        line-height: 1.5;
        letter-spacing: 4.5px;
        padding-top: 1rem;
        font-family: var(--font-pequena);
    }
    .redes-sociais {
        padding-top: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }
    .redes-sociais a {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        color: var(--color-gray2);
        font-size: 1rem;
        width: 70%;
        padding-bottom: 0;
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.15);
    }
    .right-sobre {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

