
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Roboto:wght@100;300;500;700&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/tt-hoves-pro-trial');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:wght@100;300;500;700&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-grande: 'TT Hoves Pro Trial', sans-serif;
    --font-pequena: 'Merriweather', 'serif';
    --font-titulo: 'Tourney', 'sans-serif';
    --color-destaque1: rgb(86, 156, 194);
    --color-destaque2: rgb(163, 203, 243);
    --degrade: linear-gradient(90deg, rgb(188, 233, 228), rgb(163, 203, 243), rgb(86, 156, 194));
    --verde-claro: rgb(188, 233, 228);
    --cinza-escuro: rgb(70, 84, 90);
    --azul-claro: rgb(163, 203, 243);
    --preto: rgb(3, 3, 4);
    --azul-medio: rgb(86, 156, 194);
}

* {
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
  }




/*  barra de rolagem  */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--preto);
}

::-webkit-scrollbar-thumb {
    background-color: var(--cinza-escuro);
    border-radius: 20px;
    border: 3px solid var(--preto);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--cinza-escuro);
}

/* Body */

body {

    width: 100vw;
    height: 100vh;
    background: var(--degrade);
    overflow-x: hidden !important; 

}
.fixed-button {
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-white);
    color: var(--color-black);
    cursor: pointer;
    z-index: 99;
    top: 92%;
    left: 1rem;
    transition: opacity 1.5s ease, box-shadow 1.5s ease;
    transform: translateY(100%); 
    transition: transform 0.5s ease, opacity 0.5s ease, visibility 0s linear 0.5s;
}

.fixed-button.show {
    opacity: 1;
    display: flex;
    transform: translateY(0); 
    transition: transform 0.5s ease, opacity 0.5s ease; 
}

#whatsappButton {
    /* bottom: 20px;
    right: 20px; */
    background-color: #25D366;
    box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.5);
    animation: pulse 2s infinite;
}
/* Animação de pulsar */
@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(0, 255, 0, 0.7);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }
}

#whatsappButton {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25D366;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.5); 
    animation: pulse 2s infinite;
    opacity: 0; /* Escondido inicialmente */
    visibility: hidden; /* Esconde o botão completamente */
  
}

#whatsappButton.show {
    opacity: 1; /* Torna visível */
    visibility: visible; /* Garante que seja clicável */
}
/* Ícone do botão do WhatsApp */
#whatsappButton i {
    font-size: 24px;
    color: #fff;
}



@media (max-width: 768px) {
    .fixed-button,
    #whatsappButton {
        width: 40px;
        height: 40px;
    }
    #whatsappButton {
        bottom: 10px;
        right: 10px;
    }
}